@model TTN_THKids.Models.ChatLieu

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Chất liệu</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Tên chất liệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChatLieu)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaChatLieu }) |
        @Html.ActionLink("Back to List", "Index")*@
    <a href="~/Admin/ChatLieu/Edit/@Model.MaChatLieu">Chỉnh sửa |</a>
    <a href="~/Admin/ChatLieu/Index">Quay lại</a>
</p>
