@model TTN_THKids.Models.DanhMucSanPham

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Danh mục sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)*@
            Tên danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.TenDMSP)*@
            Tên danh mục sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDMSP)
        </dd>

    </dl>
</div>
<p>
    <a href="~/Admin/DanhMucSanPham/Edit/@Model.MaDMSP">Chỉnh sửa |</a>
    <a href="~/Admin/DanhMucSanPham/Index">Quay lại</a>

    @*@Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaDMSP }) |
        @Html.ActionLink("Quay lại", "Index")*@
</p>
