@model TTN_THKids.Models.QuanTriVien

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Quản trị viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.username)*@
            username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.pass)*@
            pass
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pass)
        </dd>

    </dl>
</div>
<p>
    <a href="~/Admin/QuanTriVien/Edit/@Model.ID">Chỉnh sửa |</a>
    <a href="~/Admin/QuanTriVien/Index">Quay lại</a>
    @*@Html.ActionLink("Chỉnh sửa", "Edit", "QuanTriVien",  new { id = Model.ID }) |*@
    @*@Html.ActionLink("Quay lại", "Index", "QuanTriVien")*@
</p>
