@model TTN_THKids.Models.DanhMuc

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Danh mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.TenDanhMuc)*@
            Tên danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>

    </dl>
</div>
<p>
    <a href="~/Admin/DanhMuc/Edit/@Model.MaDanhMuc">Chỉnh sửa |</a>
    <a href="~/Admin/DanhMuc/Index">Quay lại</a>

    @*@Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaDanhMuc }) |
        @Html.ActionLink("Quay lại", "Index")*@
</p>
