@model TTN_THKids.Models.KichCo

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Kích cỡ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.TenKichCo)*@
            Tên kích cỡ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKichCo)
        </dd>

    </dl>
</div>
<p>
    <a href="~/Admin/KichCo/Edit/@Model.MaKichCo">Chỉnh sửa |</a>
    <a href="~/Admin/KichCo/Index">Quay lại</a>

    @*@Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaKichCo }) |
        @Html.ActionLink("Quay lại", "Index")*@
</p>
