@model TTN_THKids.Models.ThuongHieu

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Thương hiệu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.TenThuongHieu)*@
            Tên thương hiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThuongHieu)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.DiaChi)*@
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.SoDienThoai)*@
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

    </dl>
</div>
<p>
    <a href="~/Admin/ThuongHieu/Edit/@Model.MaThuongHieu">Chỉnh sửa |</a>
    <a href="~/Admin/ThuongHieu/Index">Quay lại</a>

    @*@Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaThuongHieu }) |
        @Html.ActionLink("Quay lại", "Index")*@
</p>
