@model TTN_THKids.Models.TrangThaiDonHang

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Trạng thái đơn hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.TenTrangThai)*@
            Tên trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTrangThai)
        </dd>

    </dl>
</div>
<p>
    <a href="~/Admin/TrangThaiDonHang/Edit/@Model.MaTrangThai">Chỉnh sửa |</a>
    <a href="~/Admin/TrangThaiDonHang/Index">Quay lại</a>

    @*@Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaTrangThai }) |
        @Html.ActionLink("Quay lại", "Index")*@
</p>
