@model IEnumerable<TTN_THKids.Models.TrangThaiDonHang>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách trạng thái đơn hàng</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.TenTrangThai)*@
            Tên trạng thái
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTrangThai)
        </td>
        <td>
            <a href="~/Admin/TrangThaiDonHang/Edit/@item.MaTrangThai"> Chỉnh sửa |</a>
            <a href="~/Admin/TrangThaiDonHang/Details/@item.MaTrangThai"> Chi tiết |</a>
            <a href="~/Admin/TrangThaiDonHang/Delete/@item.MaTrangThai"> Xóa</a>

            @*@Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.MaTrangThai }) |
        @Html.ActionLink("Chi tiết", "Details", new { id=item.MaTrangThai }) |
        @Html.ActionLink("Xóa", "Delete", new { id=item.MaTrangThai })*@
        </td>
    </tr>
}

</table>
